/* Estilos para o componente Agradecimento */
.container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  padding-top: 4em;
  padding: 5em;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.topImage {
  max-width: 150px;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.lookimage {
margin-top: 1em;
max-width: 200px;
margin-bottom: 20px;
}

.bottomImage {
  max-width: 200px;
  margin-bottom: 20px;
}

/* Iframe container com zoom out */
.iframeContainer {
  margin-top: 30px;
  width: 100%;
  height: 800px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(0.8); /* Zoom out */
  transform-origin: 0 0; /* Mantém a origem no canto superior esquerdo */
  margin: 0 auto; /* Centraliza o iframe na página */
}


/* Animação de flutuação */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1rem;
  }

  .topImage, .bottomImage .lookimage{
    max-width: 120px;
  }
}
