/* Estilos para o componente Agradecimento */
.container {
  text-align: center;
  margin: 50px auto;
  padding: 10em;
  padding-top: 4em;
  padding: 5em;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.link {
  text-decoration: none;
  font-size: 25px;
  margin-top: 2em;
  color: #555;

}

.projetoImage {
  margin-top: 1em;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 3em;
  }


.topImage {
  max-width: 150px;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
  margin-top: 3em;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin: 2em 5em;
  margin-bottom: 30px;
  
}

.lookimage {
margin-top: 1em;
max-width: 200px;
margin-bottom: 20px;
margin-top: 3em;
animation: float 8s ease-in-out infinite;
}

.bottomImage {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 3em;
  animation: float 10s ease-in-out infinite;
}


/* Animação de flutuação */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1rem;
  }

  .topImage, .bottomImage .lookimage{
    max-width: 120px;
  }

  .projectImage {
    max-width: 200px;
  }
}
