.bannerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%; 
  margin: 0 auto; 
  background-color: rgb(255, 204, 0); /* Fundo amarelo */

  min-height: 500px; /* Defina uma altura mínima */
  border-radius: 10px;
  position: relative; /* Para permitir que a sobreposição fique no topo */
  overflow: hidden; /* Evita que a imagem ultrapasse as bordas arredondadas */
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(-30deg);
  }
  50% {
    transform: translateY(-10px) translateX(-10px) rotate(-25deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-30deg);
  }
}


.bannerOverlay img {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 25px;
  right: 16px;
  transform: rotate(-30deg);
  animation: float 3s ease-in-out infinite;
  transform-origin: center; /* Define o centro da imagem como ponto de rotação */
}




.corpo {
  margin: 0em auto;
  padding: 2em 0 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6em 30em 0 5em; 
  text-align: start;
  border-radius: 10px;
  color: #000000;
  font-weight: var(--texto);
  position: relative; /* Mantém o texto acima da sobreposição */
  z-index: 2;
}
