/* Estilos principais */
.bannerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  min-height: 500px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-size: 400% 400%;
  animation: animateGradient 10s infinite alternate ease-in-out;
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.bannerOverlay img {
  width: 25em;
  height: auto;
  animation: float 10s ease-in-out infinite;
  transform-origin: center;
  margin-right: 2em;
  margin-top: 7em;
}

/* Corpo do banner */
.corpo {
  margin: 0em auto;
  padding: 10em 10em 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em 30em 0 5em;
  text-align: start;
  border-radius: 10px;
  color: #030303;
  position: relative;
  z-index: 2;
}

/* Estilo para o título */
.corpo h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
}

.corpo h1 span {
  display: inline-block;
}

/* Animação do h2 (fade-in com atraso) */
.corpo h2 {
  font-size: 1.5em;
  color: #333;
  margin-top: 1em;
  opacity: 0; /* Inicialmente invisível */
  animation: fadeIn 2s ease-out 2s forwards; /* Animação de fade com atraso */
}

/* Animação do texto do h2 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação da lata */
@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-8px) translateX(5px);
  }
  50% {
    transform: translateY(5px) translateX(-5px);
  }
  75% {
    transform: translateY(-5px) translateX(8px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .bannerContainer {
    width: 90%; /* Ajusta a largura para telas pequenas */
    margin: 0 auto;
    min-height: 400px; /* Ajusta a altura para telas pequenas */
  }

  .bannerOverlay img {
    width: 16em; /* Ajusta o tamanho da imagem no mobile */
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .corpo {
    margin: 0 auto;
    text-align: start;
  }

  .corpo h1 {
    font-size: 20px; /* Ajuste do tamanho da fonte no mobile */
  }

  .corpo h2 {
    font-size: 16px; /* Ajuste do tamanho da fonte no mobile */
  }
}
