.bannerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%; 
  margin: 0 auto; 
  background-image: url('../assets/images/banner-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px; /* Defina uma altura mínima */
  border-radius: 10px;
}

.corpo {
  margin: 0em auto;
  padding: 2em 0 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6em 30em 0 5em; 
  text-align: start;
  border-radius: 10px;
  color: #000000;
  font-weight: var(--texto);
}

.corpo h1 {
  font-size: 30px;
}

.corpo h2 {
  font-size: 20px;
}
