.baseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baseCardProjetos {
  cursor: pointer;
  animation: fade-in-card 3s forwards;
}

@keyframes fade-in-card{
  from {
    margin-top: 1em;
    opacity: 0
  }

  to {
    margin-top: 0;
    opacity: 1
  }
}


.baseCard a {
  text-decoration: none;
}

.background {
  margin: 0.5em;
  width: 20em;
  height: 12em;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.background h1 {
  font-weight: 400;
  margin-left: 1em;
  font-size: 18px;
  text-shadow: #000 2px 2px 10px;
  z-index: 2;
}

.fundoTexto {
  position: absolute;
  bottom: 0;  
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

@media (min-width: 1024px) {
  .baseCardProjetos {
    flex-direction: row;
    width: 60%;
  }

  .conteinerProjetos {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .projetos {
    flex: 1;
    margin-top: 0;
    text-align: left;
  }

  .cardsProjeto {
    display: flex;
    flex-direction: row;
  }

  .cardsProjeto>* {
    margin-right: 1em;
  }

  .cardsProjeto>*:last-child {
    margin-right: 0;
  }

  .background {
    height: 12em;
    margin: 0.3em 0.6em;
  }
}

@media (max-width: 1023px) {
  .background {
    margin-top: 1.3em;
  }
  .baseCardProjetos {
    margin-bottom: 4em;
  }
}