.baseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baseCard a {
  text-decoration: none;
}


.background h1 {
  margin-left: 1em;
  font-size: 18px;
  font-weight: 200;
}

.background {
  margin: 0.5em;
  width: 18em;
  height: 10em;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media (min-width: 1024px) {
  .baseCard {
    flex-direction: row;
    width: 60%;
  }

  .background {
    height: 12em;
    margin: 0.3em 0.6em;
  }
}