.container {
  background-color: var(--fundo-claro);
}

#fontLogo h1 {
  text-align: center;
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

#fontLogo h2 {
  text-align: center;
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 8em;
  margin: 2em auto -10em;
  display: flex;
  z-index: 1;
}

.line-animate {
  width: 100%;
}

.line-animate img {
  width: 100%;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin: auto 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden; 
}

header p {
  font-size: 1.2em;
  font-weight: 800;
  margin: 5em 0 1em 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1.2em;
}

nav button {
  cursor: pointer;
  margin: 0px 5px;
  font-size: 1em;
  font-family: Basic;
  font-weight: 800;
  border: 0;
  padding: 1em 1em 1em 1em;
  border-radius: 6px;
  background-color: var(--cinza);
}

@media (min-width: 1024px) {
  .container {
    margin: 8em auto 4em auto;
    max-width: 100%;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1; 
  }

  .image-container {
    order: 3; 
    margin-top: 1em; 
  }

  .line-animate {
    order: 4; 
  }

  .line-animate img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-container {
    order: 2;
    width: 100%;
    margin-top: 4em;
  }
}
