.ConteinerProjetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 9em;
  }
  
  .Projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3em 0;
  }
  
  #titulo {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 3em 2em;
  }
  
  @media (max-width: 1023px) {
    #titulo {
      font-size: 27px;
      margin: 0 0 2em 0;
    }
  
    .Projetos {
      padding: 3em 0 0em 0;
    }
  
    .ConteinerProjetos {
      margin: 0;
      overflow-x: unset;
    }

    
  }
  
  @media (min-width: 1024px) {
    .Modal {
      width: 100%;
      height: 90%;
      padding: 10px;
    }
  }
  