.Fundo {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.Corpo {
    width: 20.5em;
    height: 40em;
    margin: 2em auto;
    padding: 2em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ffff;
    background-color: #212121;
    font-weight: var(--texto);
}

.Fundo h2 {
    color: var(--cor-fundo);
    font-weight: 300;
    font-size: 1.4em;
}

.Corpo img {
    width: 70%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
}

.Corpo p {
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 2em 2.5em;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .Fundo {

        height: 45em;
        padding-top: 2em ;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .Corpo {
        padding: 4em 0 6em 0;
        flex-direction: column;
        width: 70%;
        height: auto; /* Ajuste para altura automática */
    }

    .Corpo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
        /* Espaçamento entre h2 e o conteúdo */
    }

    .Fundo h2 {
        font-size: 1.7em;
        font-weight: 300;
        margin: .5em 0 2em; /* Espaçamento inferior para h2 */
    }

    .Corpo img {
        margin: 0 0 0 4em;
        width: 25%;
        height: auto;
        border-radius: 10px;
        max-height: none; /* Removendo o limite de altura máxima */
    }

    .Corpo p {
        width: 30em;
        height: auto; /* Ajuste para altura automática */
        text-align: start;
        font-size: 18px;
    }
    .Fundo {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
