
.fundo {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.corpo {
    width: 20.5em;
    height: 46em;
    margin: 0em auto;
    padding: 2em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #212121;
    font-weight: var(--texto);
    opacity: 0;
    transform: translateY(4em);
    transition: opacity 1.2s, transform 2s;
}

.corpo.visible {
    opacity: 1;
    transform: translateY(0);
}

.corpo h2 {
    color: var(--fundo-claro);
    font-weight: 300;
    font-size: 1.7em;
    margin: 2em 0;
}

.personContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personContent img {
    width: 70%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
}

.personContent p {
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 2em 2.5em 5em 2.5em;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .Fundo {
        height: 35em;   
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 2em auto;
    }

    .corpo {
        padding: 4em 0 1em 0;
        flex-direction: column;
        width: 70%;
        margin-top: 1.5em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .corpo h2 {
        font-size: 1.7em;
        font-weight: 300;
        margin: .5em 0 2em;
        color: var(--fundo-claro);
    }

    .personContent {
        display: flex;
        flex-direction: row;
        padding: 0 0 4em;
        justify-content: center;
        align-items: center;
    }

    .personContent img {
        width: 25%;
        height: auto;
        border-radius: 10px;
        max-height: none;
        margin-left: 2em;
    }

    .personContent p {
        width: 30em;
        height: auto;
        text-align: start;
        font-size: 18px;
        margin: 0 2em;
    }
}
