:root {
    display: flex;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: Basic;
    font-weight: 300;
    font-family: Basic;

    --preto: #212121;
    --fundo: #fff;
    --cinza: #dbdbdb;
    --texto:  font-weight: 300;
    --titulo:  font-weight: 500;
}

body {
    margin: 0;
}